/* es (61 sloc)  1.09 KB */
   
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    padding: 20px 35px;
    background-color: gray;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: red;
    margin: 0; 
} 

.hero {
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    /*background-position: 80%;*/
}

.hero-form {
    border: 3px solid gray;
    background-color: antiquewhite;
    padding: 20px;
    color:blueviolet;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    margin-left: 99px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
    color: black;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-cont {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: blueviolet;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cont h2 {
    font-size: 55px;
    color:black;
}

.form-input {
    border: 1px solid gray;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.box{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 5px;

}

.list {
    display: flex;
    flex-direction: column;
    /* justify-self: unset; */
    border: 2px solid red;
    background-color: aqua;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-right: 99px;
    
}

.title{
    text-align: center;
}

.contant{
 margin-left: 10px;
 padding: 5px;
 font-size: larger;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.drop{
    width: 25px;
    padding: 1rem;
}


.submitbtn
{
    margin-right: 50px;
    width:95px;
    margin-top: 80px;   
    background-color:blue;
    color: white;
}
    
  


 .pictures{
    display: flex;
    border: 2px solid red;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-left: 99px;
   
    
}

.pictures > img{
    width: 100%;
    

}
 

 .facts{
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    border: 2px solid red;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background-color: aqua;
   }

   .end  {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* align-items: center; */

   }
   
     .endP {
      font-size: 15px;
       color: red ;
       margin-left: 14px;
   }

   .endI{
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 7px;
    margin-right: 15px;
   }

@media only screen and (max-width: 768px) {
    .hero-cont{
    flex: 2 100%;
    justify-content: center;
    }
}
